<div class="col-sm-12"  ng-init="getCurrentDriverInfo()">
    <h2  ng-show="driverInfoData.length">Available Route List </h2>
    <table class="table table-striped" ng-show="driverInfoData.length" >
        <thead>
            <tr>
                <th>S.No</th>
                <th>Route No</th>
                <th>Driver</th>
                <th>Mobile No</th>
                <th>Stoppage</th>
                <th>Student</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="driver in driverInfoData track by $index " >
                <td>{{$index + 1}}</td>
                <td title="Route No"  ng-click="viewStudents(driver)"><small style="cursor:pointer" class="badge">{{driver.route_no}}</small></td>
                <td>{{driver.first_name}} {{driver.last_name}}</td>
                <td>{{driver.mobile_number}}</td>
                <td title="Total stoppages"  ng-click=getStoppages(driver.route_id)><small style="cursor:pointer" class="badge">{{driver.stoppages.length}}</small></td>
                <td title="Total students"  ng-click=getStoppages(driver.route_id)><small style="cursor:pointer" class="badge">{{driver.student_count}}</small></td>
                <td>{{driver.address}}  <a ng-hide="driver.lattitude==null" href="#/selectedDriver/{{driver.driver_id}}/{{$index}}" ng-click="$event.stopPropagation();"><i class="glyphicon glyphicon-globe" style="color:{{arr[$index]}};font-size:19px"></i>  </a>
                </td>
            </tr>
        </tbody>
    </table>
     <div class="col-sm-12" style="padding:10px 0px" ng-show="showStoppageStudents">
            <ul class="list-group" style="clear:both;">
                Stoppages:
                <li class="list-group-item" ng-repeat="stoppage in stoppageArr" >
                    <div>{{stoppage.stoppage_name}}</div>
                    <br/>
                    <ul class="list-group" style="clear:both;" ng-show="stoppage.students.length" >
                        List of Students
                        <li class="list-group-item" ng-repeat="student in stoppage.students">
                            <span>{{student.first_name}} {{student.last_name}}</span>
                        </li>
                    </ul>
                </li>

            </ul>
                  </div>
</div>